/*--------------------- clearfix ---------------------------*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}


/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


/* End hide from IE-mac */

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.inline {
  display: inline-block;
  width: 100%;
}

* html .inline {
  display: inline;
  width: auto;
}

* {
  box-sizing: border-box;
  outline: none !important;
}


/*--------------------- end clearfix -----------------------*/


/*------------------- reset CSS --------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


/* Correct `inline-block` display not defined in IE 8/9. */

audio,
canvas,
video {
  display: inline-block;
}


/* Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}


/* Correct overflow displayed oddly in IE 9. */

svg:not(:root) {
  overflow: hidden;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}


/* Address styling not present in IE 8/9. */

[hidden] {
  display: none;
}

img {
  vertical-align: bottom;
}


/*img {
  !* vertical-align: bottom; *! !* Suppress the space beneath the baseline *!
  vertical-align: bottom;
  border: 0; !* 1 *!
  -ms-interpolation-mode: bicubic; !* 2 *!
}
img { !* video *!
  !* Responsive images *!
  !* @todo Add responsive embedded video. *!
  max-width: 100% !important;
  height: auto;
  width: auto !important;
}*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
}

table,
td,
th {
  vertical-align: top;
}


/* ==========================================================================
 Forms
 ========================================================================== */


/* Define consistent border, margin, and padding. */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


/* 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

::-webkit-input-bscommerce {
  font-style: italic;
}

:-moz-bscommerce {
  /* Firefox 18- */
  font-style: italic;
}

::-moz-bscommerce {
  /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-bscommerce {
  font-style: italic;
}


/* 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}


/* Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */

button,
input {
  line-height: normal;
}


/* Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera. */

button,
select {
  text-transform: none;
}


/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}


/* Re-set default cursor for disabled elements. */

button[disabled],
html input[disabled] {
  cursor: default;
}


/* 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9. */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}


/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof). */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}


/* Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X. */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


/* Remove inner padding and border in Firefox 4+. */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers. */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}


/* ie shows extra padding on inputfields, removing this */

input {
  overflow: visible;
}


/*Remove button padding in FF*/

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}


/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del,
.line-through {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}


/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}


/* ============================= GLOBAL SETTINGS ============================= */

html {
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  /*1.0em --> 10px*/
}


/*----->>> LINKS <<<-----*/

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover {
  text-decoration: underline;
}


/*----->>> COMMON FORMATTING <<<-----*/

p {
  margin: 0px 0px 8px 0px;
}


/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */

b,
strong {
  font-weight: bold;
}


/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/*----->>> GLOBAL CLASSES <<<-----*/

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.img-left {
  float: left;
  margin: 4px 10px 4px 0px;
}

.img-right {
  float: right;
  margin: 4px 0px 4px 10px;
}

.nopadding {
  padding: 0px;
}

.nomargin {
  margin: 0px;
}


/**>> <<**/

#container {
  width: 960px;
  /*set width of global container*/
  margin: 0px auto;
}