@import "../../shared/vars";

.testimonial {

	&_full-view {}

	&__profile {
		position: relative;
	}

	&__img {
		width: 100%;
	}
	&__name {
		padding-top: 15px;
		.testimonial_full-view & {
			position: absolute;
			top: 40px;
			left: 60px;
			color: white;
			font-weight: 500;
			font-size: 22px;
		}
	}
	&__function {
		.testimonial_full-view & {
			position: absolute;
			top: 85px;
			left: 60px;
			color: $page__primary-color;
		}
	}
	&__details {
		padding-top: 20px;
		font-size: 0.9em;
		line-height: 1.5em;
	}
	&__fadeout {
		position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
	}
	&__q-a {
		margin-top: 65px;
		max-height: 330px;
		overflow: hidden;
		transition-property: all;
		transition-duration: 0.3s;
		&-item {
			margin: 35px 0;
		}
	}
	&__question {
		color: $page__primary-color;
		font-size: 24px;
		font-weight: 500;
	}
	&__answer {
		font-size: 18px;
		line-height: 30px;
	}
	&__continue {
		margin-left: 50%;
		padding-left: 25px;
		margin-top: 65px;
	}
	&__button.button {
		font-weight: normal;
	}
  &_teaser {
  	cursor: pointer;
  	min-height: 380px;
  	width: 320px;
  	margin: 0 3px;
  	border: 1px solid $page__passive-color;
  	padding: 25px;
  	&.is-active, &:hover {
  		background-color: $page__passive-color;
  		position: relative;
  	}
  	&.is-active {
  		&:after {
  			content: '';
  			width: 0;
  			height: 0;
  			border-left: 15px solid transparent;
  			border-right: 15px solid transparent;
  			border-top: 15px solid $page__passive-color;
  			position: absolute;
  			bottom: -16px;
  			left: 45%;
  		}
  	}
    &--1 {}
    &--2 {}
    &--3 {}
    &--4 {}
    &--5 {}
    &--6 {}
    &--7 {}
    &--8 {}
    &--9 {}
  }
}