@import "../../shared/vars";

/*
 * Basic button
 *
 * Button extra classes
 * 
 * btn-rounded
 * btn-primary
 * btn-secondary
 * btn-big
 *
 */

.button {
  background-color: $page__active-color;
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 8px 22px;
  margin: 0;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

  &.btn-primary {
    transition-property: background-color;
    transition-duration: .5s;
    background-color: $page__primary-color;
    &:hover {
      background-color: $page__primary-color;
    }
  }

  &.btn-secondary {
    background-color: $page__secondary-color;
    transition-property: background-color;
    transition-duration: .3s;
    &:hover {
      background-color: $page__secondary-color;
    }
  }

  &.btn-rounded {
    min-height: 50px;
    border-radius: 25px;
    padding: 13px 50px;
    background-color: $page__primary-color;
    border: $page__primary-color;
    color: white;
    text-decoration: none;
    &--empty {
      background-color: transparent;
      border: 3px $page__passive-color solid;
      color: $type__base-color;
    }
  }
  &.btn-big {
    text-transform: uppercase;
    padding: 15px 25px;
    height: 45px;
    @include respond-to(tiny) {
      width: 100%;
      margin: 15px 0;
    }
  }

  &.btn-super {
    border: 3px solid $type__base-color;
    border-radius: 30px;
    min-height: 60px;
    min-width: 150px;
    background-color: transparent;
    font-size: 18px;
    padding: 15px 35px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 700;
    &--full {
      min-height: 50px;
      border-radius: 25px;
      padding: 13px 50px;
      background-color: $page__primary-color;
      border: $page__primary-color;
    }
    &--red {
      min-height: 50px;
      border-radius: 25px;
      padding: 13px 50px;
      background-color: $page__accent-color;
      border: $page__accent-color;
    }
  }

  /* Reset styles */
  border: 0;
  line-height: normal;
  cursor: pointer;
  overflow: visible;
  //-webkit-appearance: button; //TODO: Fix issue: issue in combination with background color property and "appearance" property not supported in IE11
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;


  &--white {
    @extend .button;
    background-color: white;
    color: $page__secondary-color;
    &:link, &:visited {}
    &:hover,
    &:active,
    &:focus {
      background-color: $page__secondary-color;
      color: white;
    }
  }
  &--blue {
    @extend .button;
    background-color: $page__secondary-color;
    color: white;
    &:link, &:visited {}
    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: $page__secondary-color;
    }
  }
  &--violet {
    @extend .button;
    background-color: $page__primary-color;
    color: white;
    &:link, &:visited {}
    &:hover,
    &:active,
    &:focus {
      background-color: white;
      color: $page__primary-color;
    }
  }
  &--empty {
    @extend .button;
    background-color: transparent;
    color: $type__base-color;
    &:link, &:visited {}
    &:hover,
    &:active,
    &:focus {
      color: $type__base-color;
      background-color: $page__secondary-color;
    }
  }
  &--arrow-down {
    &:after {
      content: "\f107";
    }
  }

  &--wide {
    display:inline-block;
    width: 100%;
  }
}