
.layout-content-wrapper {
	padding: 100px 0;
}
/* ************************************************* */
.layout-wrapper {
	width: 100%;
	overflow: hidden;
}
.layout-centered-wrapper {
	max-width: 1400px;
	min-height: 50vh;
	margin: 0 auto;
	position: relative;
}
.layout-menu-wrapper {
	position: absolute;
	width: 250px;
	height: calc(100% - 110px); // Follow svg height of .layout-page-wrapper__bottom
	background-color: white;
}
.layout-main {
	background-color: white;
	padding-bottom: 25px;
	@include respond-to(small-down) {
	  padding: 0 20px 25px;
	}
}
.layout-page-wrapper {
	transition-property: all;
	transition-duration: 0.3s;
	z-index: 1;
	position: relative;
	height: 100%;
	min-height: 650px;
	&.menu-open {
		transform: translate3d(250px,0,0)!important;
	}
	&__bottom {
		width: 100%;
	}
}
.layout-content {
	min-height: 750px;
}
.layout-inner {
	max-width: $break-medium;
	margin: 0 auto;
}