.video-header{background-image:url(../../images/main-video.jpg);height:672px;padding:230px 110px;color:white}.video-header__title{color:white;font-family:Arial;font-size:75px;width:500px;line-height:1.2;margin:0}.video-header__subtitle{font-family:Arial;font-weight:700;font-size:17px;width:500px;margin:25px 0 35px}

/*# sourceMappingURL=video-header.css.map */