.ailment {
	text-align: left;
	margin: 0;
	&__preview {
		display: table;
	}
	&__left {
		display: table-cell;
		vertical-align: middle;
		padding: 20px 20px 20px 50px;
	}
	&__right {
		display: table-cell;
		vertical-align: middle;
	}
	&__visible {}
	&__hidden {
		display: none;
	}

	&__field-image {
		width: 180px;
		height: 180px;
		border-radius: 50%;
		overflow: hidden;
		cursor: pointer;
		transition-property: all;
		transition-duration: 0.3s;
		img {
			max-width: unset;
			height: 100%;
			width: auto;
		}
		&.is-active {
			border-radius: 0;
			height: 300px;
			img {
				height: auto;
				width: 100%;
			}
		}
	}

	&__field-title {
		color: $page__primary-color;
	}
}