.anchor-navigation {
	max-width: $width-medium;
	margin: 0 auto;
	padding: 0;
	&__item {
		float: left;
		list-style: none;
		border-right: 1px solid $page__passive-color;
		&:first-child {
			border-left: 1px solid $page__passive-color;
		}
	}
	&__anchor-link {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		text-decoration: none;
		display: block;
		padding: 25px 30px;
	}
}