$steps: 8;

@for $i from 1 through $steps {
  #step#{$i} {
  	visibility: hidden;
  }
}

.folding-test {
	// position: absolute;
	width: 100%;
	top: 0;
}

.animate-controls {
	width: 100%;
	text-align: center;
	height: 100px;
}