.article-header {
  &__intro {
    position: absolute;
    left: 180px;
    top: 190px;
    .article-header--page & {
      top: 150px;
    }
    @include respond-to(large-down) {
      left: 5%;
      top: 100px;
    }
  }
  &__miniature {
    width: 115px;
    text-align: center;
    &--letter-P {
      width: 205px;
    }
    &--letter-C {
      width: 180px;
    }
    &--letter-N {
      width: 230px;
    }
  }
  &__big-letter {
    font-size: 200px;
    color: white;
    font-family: 'Akzidenz';
    font-weight: 500;
    line-height: 150px;
  }
  &__title {
    max-width: 400px;
    font-size: 5em;
    color: white;
  }
  &__sub-title {
    font-size: 19px;
    color: white;
    font-family: 'Akzidenz';
    font-weight: 700;
    margin: 0 0 55px 15px;
  }
  &__description {
    color: white;
    line-height: 1.5;
    max-width: 510px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Akzidenz', Arial, Helvetica, sans-serif;
    .article-header--page & {
      max-width: 700px;
    }
  }
  &__header-image {
    max-height: 650px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__more {
    margin: 25px 0;
  }
  &__video {
    max-height: 675px;
    overflow: hidden;
    @include respond-to(large-down) {
      max-height: unset;
      margin-bottom: -5px;
    }
  }
}
