.brands {
	margin: 35px 0;
	.view-header {
		color: $page__accent-color;
		font-weight: 500;
		margin-bottom: 25px;
	}
	.view-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 15px;
	}
	.views-row {

	}
}