.brand-link {
	&__image {
		float: left;
		width: 25%;
		img {
			border-radius: 50%;
			width: 65px;
			height: 65px;
		}
	}
	&__info {
		float: left;
		width: 75%;
		padding: 0 15px;
	}
	&__title {
		font-size: 14px;
		font-weight: 500;
		color: $type__base-color;
	}
	&__field-content {

	}
	&__field-link {}
}