.field {
  &--name-field-initial {
    font-size: 200px;
    font-weight: 500;
    line-height: 1;
  }
  &--name-field-key-word {
  	font-size: 22px;
  	font-weight: 500;
  	margin-top: -20px;
  	.paragraph_beige-font-color & {
  		color: $page__primary-color;
  	}
  }
  &--name-field-image {}
  &--name-field-future-amount-number {
  	font-size: 17px;
  	font-weight: 500;
  }
  &--name-field-page-header-btn-url {
    a {
      border: 3px solid $type__base-color;
      border-radius: 30px;
      min-height: 60px;
      min-width: 150px;
      background-color: transparent;
      font-size: 18px;
      padding: 15px 35px;
      text-decoration: none;
      text-align: center;
      color: white;
      font-weight: 700;
      &:hover {
        border-color: $page__active-color;
      }
    }
  }
  &--name-field-page-header-description {
    padding-bottom: 50px;
  }

  /* Very specific style for adding padding-top to the first content item on nodes */
  &--name-field-content > .field__item:first-child .paragraph {
    padding-top: 250px;
  }
  &--name-field-content > .field__item:first-child .paragraph.paragraph--type--title, &--name-field-content > .field__item:first-child .paragraph.paragraph--type--anchor {
    padding-top: 0;
  }
}
