.footer-menu {
  &__legal {
    font-size: 0.8em;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__list-item {
  	float: left;
    margin-right: 10px;
    font-size: 12px;
    &:first-child {
      margin-left: 0;
      &:before {
        content: none;
      }
    }
    &:before {
      content: '|';
      padding: 0 10px;
    }
  	a {
  		font-weight: 500;
  		text-decoration: none;
      color: $type__base-color;
  	}
  }
}
