.future {
  overflow: hidden;
  p {
  	font-size: 17px;
  	line-height: 1.5;
  }
  &__graph {
  	display: block; /* fixes layout wonkiness in FF1.5 */
  	position: relative; 
  	width: 100%; 
  	height: 200px;
  	margin: 1.1em 0 0; 
  	padding: 0;
  	background: transparent;
  	tr,th,td {
  		position: absolute;
  		bottom: 0; 
  		width: 150px; 
  		z-index: 2;
  		margin: 0; 
  		padding: 0;
  		text-align: center;
  	}
  	tr {
  		position: absolute;
  		bottom: 0;
  		width: 150px;
  		z-index: 2;
  		margin: 0;
  		padding: 0;
  		text-align: center;
  	}
  	.bar {
  		width: 90px;
  		font-weight: 500;
  		font-size: 19px;
  		color: white;
  		padding-top: 10px;
  	}
  	.bar-legend {
  		position: absolute;
  		bottom: 5px;
  		left: 22px;
  	}
  	.today {
  		left: 13px;
  		background-color: $page__primary-color;
  		border-color: transparent;
  	}
  	.future {
  		left: 115px;
	    background-color: $page__primary-color;
	    border-color: transparent;
  	}
  }
  &__chart-today {
  	position: absolute;
  	top: -50px;
  	left: 0;
  	text-align: left;
  }
  &__graphic {}
  &__panel {
    float: left;
    &--left {
      width: 35%;
    	position: relative;
    	height: 300px;
    	.field--name-field-future-amount-number {
    		font-size: 60px;
    	}
    	.field--name-field-future-amount-name {
    		font-size: 35px;
    		color: $page__primary-color;
    		font-weight: 500;
    	}
    }
    &--middle {
      width: 25%;
    	.field--name-field-future-amount-number {
    		color: $page__primary-color;
    	}
    	.field--name-field-future-amount-name {
    		color: $page__primary-color;
    		font-size: 17px;
    	}
    }
    &--right {
      width: 30%;
    }
  }
  &__iris {
  	width: 300px;
  }
  &__number {
  	position: absolute;
  	top: 95px;
  	left: 0;
  	right: 0;
  	margin-left: 100px;
  }
  &__chart {}
  &__description {}
}
