.leadership-team {
	text-align: center;
	max-width: 1050px;
	margin: 30px auto;
	&__intro {
		max-width: 650px;
		margin: 30px auto;
	}
	&__title {
		color: $type__base-color;
	}
	&__paragraph {
		font-size: 18px;
		line-height: 30px;
	}
	&__header {}
	&__lt {
		font-size: 360px;
		font-weight: 500;
	}
	&__job-title {
		margin-bottom: 10px;
	}
	&__preview {
		position: relative;
		overflow: hidden;
		height: 265px;
		width: 230px;
		margin: 0 auto;
		.leadership-team__grid-item--level-3 & {
			height: 180px;
		}
		@include respond-to(small-down) {
		  width: auto;
		}
	}
	&__initial {
		font-size: 200px;
		color: $type__base-color;
		font-weight: 500;
		line-height: 1;
		margin-bottom: -20px;
		padding-top: 60px;
		.leadership-team__grid-item--level-1 & {}
		.leadership-team__grid-item--level-2 & {}
		.leadership-team__grid-item--level-3 & {
			font-size: 100px;
			margin-bottom: 0;
		}
	}
	&__picture {
		position: absolute;
		opacity: 0;
		margin-top: -50px;
		&.is-active {
			opacity: 1;
		}
		@include respond-to(small-down) {
		  margin-top: 0;
		}
	}
	&__grid-item {

		&:hover {
			// background-color: $page__background-color;
		}

		grid-column: span 4;
		&--level-1 {
			grid-column: span 4 / 9;
			@include respond-to(xs-down) {
			  grid-column: span 12;
			}
		}
		&--level-2 {
			@include respond-to(xs-down) {
			  grid-column: span 6;
			}
		}
		&--level-3 {
			grid-column: span 3;
			@include respond-to(xs) {
			  grid-column: span 4;
			}
			@include respond-to(tiny) {
			  grid-column: span 6;
			}
		}
		&--level-4 {
			grid-column: span 3;
		}
	}
	&__name {
		margin: 0;
	}
	.view-content > h3 {
		display: none; // remove grouping field title from the view
	}
}