.media-item {
	font-size: 0.9em;
	background-repeat: no-repeat;
	padding-left: 55px;
	&_pdf {
		background-image: url('/assets/images/icon_pdf.png');
	}
	&_img {
		background-image: url('/assets/images/icon_img.png');
	}
	&_doc {
		background-image: url('/assets/images/icon_doc.png');
	}
	&__title {
		text-decoration: none;
		color: $page__primary-color;
		font-weight: 500;
	}
	&__date {}
	&__download {
		float: right;
		display: block;
		width: 23px;
		height: 19px;
		background: url('/assets/images/icon_download.png') no-repeat;
	}
}