.media-center {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 50px 0;
	&__header {
		background-color: $page__passive-color;
		padding: 65px 105px 100px;
	}
	&__introduction {
		float: left;
		width: 50%;
		padding-right: 100px;
	}
	&__title {
		color: $type__base-color;
		font-size: 44px;
		font-weight: 500;
		border: none;
	}
  &__input {
    min-height: 45px;
    float: right;
  }
  &__submit {
    min-height: 45px;
    float: right;
    margin: 0 0 0 15px;
  }
  &__inner {
		border: 1px solid darken($page__passive-color, 15%);
		border-top: 0;
		padding: 65px 105px 100px;
  }
  &__filters {
  	text-align: right;
  	padding: 20px;
  	margin-bottom: 50px;
  }
}