.menu-toggle {
	position: absolute;
	z-index: 5;
	&-link {
		width: 82px;
		height: 82px;
		background-color: $page__accent-color;
		display: block;
		background-image: url('../../images/hamburger-white.svg');
		background-repeat: no-repeat;
		background-position: 18px 27px;
		&:hover {
			background-image: url('../../images/hamburger-gray.svg');
			background-color: white;
		}
	}
}