.navigation {
	&__title {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		margin: 0 0 15px 1em;
		padding: 6px 0;
		border-bottom: 1px solid $page__passive-color;
		color: $page__dark-color;
	}
  &__list {
    list-style-type: none;
  }
  &__list-item {
    font-weight: 500;
    font-family: 'Akzidenz';
    font-size: 15px;
    margin: 10px 0;
    a {
      color: $page__active-color;
      text-decoration: none;
      &:link {}
      &:hover {
        color: $page__accent-color;
      }
      &.is-active {
        color: $page__primary-color !important;
        &:hover {
          color: $page__accent-color !important;
        }
      }
    }
  }
}
