.page {
  &__title {
    position: absolute;
    font-size: 50px;
    color: white;
    z-index: 5;
  }
  &__description {
  	position: absolute;
  	color: white;
  	z-index: 5;
  }
  &__body {
    max-width: $width-medium;
    margin: 0 auto;
  }
}
