.page-title {
  padding: 20px 0;
  border-top: 4px solid $page__active-color;
  color: $page__active-color;
  text-align: left;
  font-size: 17px;
  display: inline-block;
  min-width: 95px;
  margin-top: 80px;
  &_front {
    padding-top: 150px;
    max-width: 400px;
    font-size: 76px;
    text-align: center;
    margin: 0 auto;
    border: none;
    display: block;
  }
  .news-media-center & {
    color: $page__primary-color;
    font-size: 44px;
    font-weight: 500;
    border: none;
  }
}