.paragraph {
  text-align: center;
  padding: 20px 0; // clear: both;
  /* Inner paragraph widths */
  &__inner {
    max-width: 625px;
    margin: 0 auto;

    .paragraph--type--title & {
      max-width: $width-medium;
    }
    .paragraph--type--future & {
      max-width: $width-medium;
      text-align: left;
    }
    .paragraph--type--in-focus > & {
      max-width: $width-medium;
      text-align: left;
    }
    .paragraph--type--image-left-with-text & {
      max-width: unset;
      text-align: left;
    }
    .paragraph--type--image-right-with-text & {
      max-width: unset;
      text-align: left;
    }
    .paragraph--type--video & {
      max-width: $width-medium;
      background-color: black;
    }
    .paragraph--type--ailments & {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 810px;
    }
    .paragraph--type--image.paragraph_img--style-full-width-narrow & {
      max-width: unset;
      width: 100%;
    }
    .paragraph--type--image.paragraph_img--style-full-width-narrow & {
      max-width: unset;
      width: 100%;
    }
    .paragraph--type--text.paragraph_style-emphasis & {
      max-width: 950px;
      .content--dark & {
        max-width: 670px;
      }
    }
    .paragraph--type--text.paragraph_style-emphasis & {
      max-width: 950px;
      .content--dark & {
        max-width: 670px;
      }
    }
    .paragraph--type--text.paragraph_style-big & {
      max-width: 780px;
    }
  }

  p {
    margin: 0 0 25px 0;
    line-height: 1.6;
  }

  &--type--anchor {
    padding: 0;
  }

  &--type--title {
    text-align: left;
    clear: both;
  }
  &--type--future {}
  &--type--text {
    font-size: 19px;
    line-height: 1.5;
    margin-top: 0;
    &.paragraph_dark {
      color: white;
      &.paragraph_style-emphasis {
        font-weight: 500;
        color: #9F8765;
        font-size: 34px;
        text-align: center;
        p {
          margin: 0;
        }
      }
    }
    &.paragraph_style-emphasis {
      font-size: 22px;
      line-height: 1.5;
      color: $page__active-color;
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;
      .two-columns & {
        max-width: 435px;
        font-size: 26px;
      }
    }
    &.paragraph_style-medium {
      font-size: 22px;
      font-weight: 500;
      line-height: 1.6;
      color: $page__primary-color;
      .two-columns & {
        // max-width: 435px;
      }
    }
    &.paragraph_style-big {
      font-size: 42px;
      font-weight: 500;
      color: $page__primary-color;
      line-height: 1.3;
      .two-columns & {
        // max-width: 435px;
      }
      p {
        line-height: 1.3;
      }
    }
  }
  &--type--sub-title {
    margin: 0 auto;
    h2 {
      color: $type__base-color;
      font-size: 24px;
    }
  }
  &--type--button {
    a {
      min-height: 50px;
      border-radius: 25px;
      padding: 13px 50px;
      background-color: $page__primary-color;
      border: $page__primary-color;
      color: white;
      text-decoration: none;
      &:hover {
        border-color: $page__active-color;
      }
    }
    &_regular {}
    &_beige  {}
    &_red  {
      a {
        color: white;
        min-height: 50px;
        border-radius: 25px;
        padding: 13px 50px;
        background-color: $page__accent-color;
        border: $page__accent-color;
        &:hover {
          color: white;
        }
      }
    }
  }
  &--type--title-small {
    .paragraph--type--in-focus & {
      h2 {
        color: $type__base-color;
        font-size: 42px;
        line-height: 1.3;
      }
    }
    .paragraph--type--two-column & {
      max-width: 280px;
      text-align: left;
    }
  }
  &--type--in-focus {
    &>.paragraph__inner {
      background-color: $page__passive-color;
      padding: 95px 100px;
    }
  }
  &--type--image {}
  &--type--ailments {
    // margin-bottom: -310px; // Compensation for halo height
    overflow: hidden;
  }

  /* general modifier classes for paragraphs */
  &_img {
    padding: 0;
    &--style-full-width-narrow {
      width: 100%;
      max-width: unset;
      height: 370px;
      overflow: hidden;
      margin: 0;
      img {
        width: 100%;
        margin-top: -140px;
        @include respond-to(medium-down) {
          margin-top: 0;
        }
      }
    }
    &--style-full-width {
      width: 100%;
      max-width: unset;
      overflow: hidden;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
  &_more-space {
    padding: 90px 0 60px;
  }
  &_align-left {
    text-align: left; // max-width: 450px;
  }
  &_align-right {
    text-align: right; // max-width: 450px;
  }
  &_align-center {
    text-align: center;
  }
  &_align-justify {
    text-align: justify;
    .paragraph--type--in-focus & {
      max-width: 510px;
      margin: 0 auto;
    }
  }
  &_dark {
    background-color: black;
    color: white;
  }
  &_gray {
    background-color: $page__passive-color;
    h1,
    h2 {
      color: white;
      font-size: 53px;
    }
  }
}
