.press-releases {
	&__title {
		color: $page__primary-color;
		font-size: 44px;
		font-weight: 500;
		border: none;
	}
	&__filters {
		text-align: right;
		margin-bottom: 15px;
		position: relative;
	}
	&__select {}
	&__items {}
	&__item {}
	&__more {
		text-align: center;
		margin: 55px 0;
	}
}