.press-release {
	background-color: $page__passive-color;
	&__video {
		margin-bottom: -20px;
	}
	&__image {}
	&__inner {
		padding: 15px 35px;
	}
	&__date {
		color: $page__primary-color;
		font-weight: 500;
		margin: 15px 0;
	}
	&__tagline {
		font-weight: 500;
		margin-bottom: 20px;
	}
	&__description {}
}