.primary-tabs {
  &__link {
    display: block !important;
    clear: both;
    margin: 0;
    margin-right: -20px;
    width: 140px;
    a {
      background-color: $page__active-color;
      padding: 12px 20px;
      color: white;
      &.is-active {
        background-color: $page__passive-color;
        color: $type__base-color;
      }
      &:hover,
      &:active {
        background-color: $page__passive-color;
        color: $type__base-color;
      }
    }
  }
}
