.product-offering {
	margin-bottom: 120px;
	&__table {}
	&__paragraph {
		margin: 20px 0;
	}
  &__label {
    border: 1px solid transparent;
    text-align: center;
    color: white;
    padding: 13px;
    position: relative;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      position: absolute;
      bottom: -15px;
      left: 45%;
    }
    &--1 {
      background-color: $page__primary-color;
      width: 40%;
      &:after {
        border-top: 15px solid $page__primary-color;
      }
    }
    &--2 {
      background-color: $page__dark-color;
      width: 40%;
      &:after {
        border-top: 15px solid $page__dark-color;
      }
    }
    &--3 {
      background-color: $page__passive-color;
      width: 20%;
      color: $type__base-color;
      &:after {
        border-top: 15px solid $page__passive-color;
      }
    }
  }
  &__icon {
    text-align: center;
    padding: 50px 20px;
    &--prevention {
    	border-right: 1px solid $page__passive-color;
    	img {
	    	height: 125px;
	    	width: auto;
    	}
    }
    &--correction {
    	border-right: 1px solid $page__passive-color;
    	img {
	    	height: 125px;
	    	width: auto;
    	}
    }
    &--refraktik {
    	img {
    	  width: 125px;
    	  height: 125px;
    	}
    }
  }
  &__spacer {
  	height: 15px;
  }
  &__info {
  	padding: 0 25px;
  	&--border {
  		border-right: 1px solid $page__passive-color;
  	}
  }
  &__title {
  	text-align: center;
  	color: $page__primary-color;
  }
  &__description {
  	text-align: center;
  }
  &__brand {
  	text-align: center;
  	padding: 35px 0;
  }
}