// No SMACSS because no custom classes on the search form (temporary)

.search-block-form {
  #edit-actions {
    position: absolute;
  }
  .form-submit {
    background-color: transparent;
    background-image: url('../../images/search.png');
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -82px;
    left: 11px;
    text-indent: -999px;
  }
  .form-search {
    width: 100%;
    border: 0;
    line-height: 32px;
    border-radius: 25px;
    background-image: url('../../images/gray-trans.png');
    background-repeat: repeat-y;
    margin: 30px 0;
    padding-left: 35px;
    color: $type__base-color;
  }
}
