.team-member {
	position: relative;
	padding: 15px;

	&__left {
		float: left;
		width: 60%;
		padding-right: 90px;
	}

	&__right {
		float: right;
		width: 35%;
	}

	&__body {
		margin-top: 35px;
		line-height: 1.7;
	}
	
	&__job-title {
		font-size: 25px;
		color: $page__primary-color;
		font-weight: 500;
	}
	&__quote {
		color: $page__primary-color;
		font-weight: 200;
		font-size: 32px;
		line-height: 46px;
		padding: 35px 0;
	}
	&__bio {
		a {
			color: $type__base-color;
			font-weight: 500;
			text-decoration: none;
			&:hover {
				color: $type__base-color;
			}
		}
	}
	&__name {
		margin-bottom: 0;
		color: $type__base-color;
		font-size: 43px;
		margin-bottom: 65px;
	}

	a {
		&.modal-trigger{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}