.two-columns {
  overflow: hidden;
  &__inner {
    max-width: $break-medium;
    margin: 0 auto;
  }
  &__item {}
  &__left {
    float: left;
    width: 50%;
    padding-right: 25px;
  }
  &__right {
    float: right;
    width: 50%;
    padding-left: 25px;
  }
  /* Modifier classes from paragraph style field */
  &_extra-space {
  	padding-top: 160px;
    padding-bottom: 100px;
  }
}
