.video {
	&_moveup {
		margin-top: -120px;
	}
	&_fullwidth {
		width: 100%;
		height: auto;
		z-index: 0;
		@include respond-to(small-down) {
		  width: auto;
		  margin-left: -20%;
		}
		@include respond-to(tiny) {
		  margin-left: -65%;
		}
	}
}