.video-section {
	position: relative;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;

	&__video {
	}
	&__play {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 38%;
		cursor: pointer;
	}
	&__logo {
		position: absolute;
		right: 40px;
		top: 33px;
	}
	&__overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: left;
		padding: 50px 80px;
		.video-section_fullscreen & {
			left: 10%;
			top: 50px;
		}
	}

	&__title {
		font-size: 80px;
		max-width: 300px;
		margin: 0;
		.video-section_white & {
			color: white;
		}
		.video-section_fullscreen & {
			max-width: 400px;
		}
	}
	&__subtitle {
		font-weight: 500;
		font-size: 22px;
		.video-section_white & {
			color: white;
		}
	}
	&__length {
		display: inline-block;
		clear: both;
		padding: 4px 12px;
		background-color: #46423C;
		color: #A08866;
		font-weight: 500;
		.video-section_white & {
			color: white;
		}
	}
	&__curtain {
		background-size:cover;
		width:100%;
		height:0;   
		position: fixed;
		background-color: rgba(0,0,0,0.3);
		bottom: 0;
		left: 0;
		transition-property: background-color;
		transition-duration: .3s;
		display: none;
		width: 100%;
		margin: 0 auto;
		// height: 100%;
		// left: 0;
		// top: 0;
		// bottom: 0;
		// right: 0;
		&.is-active {
			display: block;
			background-color: rgba(0,0,0,0.5);
		}
	}
	&__close {
		display: none;
		position: fixed;
		top: 95px;
		right: 30px;
		z-index: 10;
		transition-property: opacity;
		transition-duration: 0.3s;
		&.is-visible {
			display: block;
			cursor: pointer;
			opacity: 1;
		}
	}
	&__svgcurtain {
		position:absolute;
		top:0;left:0;bottom:0;right:0;
	}

	/* Video section variations */
	&_white {
		color: white;
	}
	&_fullscreen {}
}