.video-center {
	padding: 50px 0;
	background-color: $page__black-color;
	&__tagline {
		font-size: 45px;
		line-height: 1.2;
		font-weight: 500;
		color: $page__primary-color;
		text-align: center;
		max-width: 550px;
		margin: 0 auto;
	}
	&__inner {
		padding: 75px 50px;
	}
	&__title {
		color: white;
		margin: 12px 0 5px;
	}
	&__description {
		color: $page__active-color;
	}
	&__poster {
		cursor: pointer;
		position: relative;
		max-height: 155px;
		overflow: hidden;
		background-color: white;
	}
	&__image {
		width: 100%;
		vertical-align: top;
		&:hover {
			opacity: 0.9;
		}
	}
	&__play {
		pointer-events: none;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 35px;
		width: 82px;
		img {
			width: 100%;
		}
	}
	&__select {
		border-color: $page__primary-color;
		color: white;
	}
	&__filters {
		text-align: right;
		margin: 0 0 45px;
		position: relative;
	}
	&__video {
		max-height: 600px;
	}
	&__date {
		color: $page__primary-color;
		font-weight: 500;
		margin-bottom: 10px;
		display: block;
	}
	&__length {
		position: absolute;
		top: 124px;
		right: 16px;
		padding: 4px 12px 0;
		background-color: $page__primary-color;
		color: white;
		font-weight: 500;
		font-size: 12px;
	}
	&__more {
		text-align: center;
		margin: 55px 0 0;
	}
}