@mixin respond-to($media) {
  @if $media==tiny {
    @media only screen and (max-width: $break-tiny) {
      @content;
    }
  }
  @else if $media==xs {
    @media only screen and (min-width: $break-tiny + 1) and (max-width: $break-small) {
      @content;
    }
  }
  @else if $media==xs-down {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }
  @else if $media==small {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) {
      @content;
    }
  }
  @else if $media==small-up {
    @media only screen and (min-width: $break-small + 1) {
      @content;
    }
  }
  @else if $media==small-down {
    @media only screen and (max-width: $break-medium) {
      @content;
    }
  }
  @else if $media==medium {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) {
      @content;
    }
  }
  @else if $media==medium-down {
    @media only screen and (max-width: $break-large) {
      @content;
    }
  }
  @else if $media==large {
    @media only screen and (min-width: $break-large + 1) and (max-width: $break-xl) {
      @content;
    }
  }
  @else if $media==large-down {
    @media only screen and (max-width: $break-xl) {
      @content;
    }
  }
  @else if $media==xl {
    @media only screen and (min-width: $break-xl + 1) {
      @content;
    }
  }
}

/*
 * 
 * Usage: 
 * .someclass {
 *   @include respond-to(tiny|small|medium|large|xl|xxl) {
 *     [your styles here]
 *   }
 * } 
 *
 */

