$page__background-color:		#F5F2EA; // alabaster
$page__middle-color:				#D7C49F; // raffia
$page__alt-color:						#E5DFD0; // raffia
$page__primary-color:				#9F8765; // sandal
$page__secondary-color:			#9F8765; // sandal
$page__dark-color:					#333333; // montana
$page__accent-color:				#BB0000; // tomato #C40617

$type__base-color:					#444444; // mid gray
$type__heavy-color:					#000000; // black

$page__passive-color:				#F1F1F1; // light gray
$page__active-color:				#848484; // dark gray
$page__dark-color:					#505050; // darker gray
$page__black-color:					#191919; // black