$break-tiny:							590px;
$break-small:							740px;
$break-medium:						1030px;
$break-large:							1280px;
$break-xl:								1400px;

$width-tiny:							$break-tiny;
$width-small:							$break-small;
$width-medium:						$break-medium;
$width-large:							$break-large;
$width-xl:								$break-xl;

$page__gutter-width:			15px;