{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

    {#TODO: add this on into a block when JLABS_MEGAMENU is migrated#}
    <header role="banner">
        <div class="main-bar clearfix">
            <a class="logo" href="{{ base_path }}"></a>
            <a href="#" class="menu-trigger"><i class="fa fa-bars"></i><i class="fa fa-close"></i></a>
            <nav id="main-menu">
                <div class="popup-menu">
                    {{ page.menu }}
                </div>
            </nav>
        </div>
        <div class="sub-menu-panel">
            <div class="wrapper clearfix">
                <div class="col col-1">
                    <nav class="submenu">

                    </nav>
                </div>
                <div class="col col-3 special search-residents">

                </div>
                <div class="col col-2 highlights">
                    <h2>Highlighted</h2>
                    <article>
                    </article>
                </div>
            </div>

            <div class="menu-footer">
                <div class="wrapper">
                </div>
            </div>
        </div>
        {{ page.header }}
    </header>
    {% if page.submenu %}
        {{ page.submenu }}
    {% endif %}
    {{ page.primary_menu }}
    {{ page.secondary_menu }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <main role="main">
        {{ page.page_title }}
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {% if page.social_share %}
            {{ page.social_share }}
        {% endif %}
        <div class="wrapper">
            <div class="layout-content">
                {{ page.content }}
            </div>{# /.layout-content #}

            {% if page.sidebar_first %}
                <aside class="layout-sidebar-first" role="complementary">
                    {{ page.sidebar_first }}
                </aside>
            {% endif %}

            {% if page.sidebar_second %}
                <aside class="layout-sidebar-second" role="complementary">
                    {{ page.sidebar_second }}
                </aside>
            {% endif %}
        </div>

    </main>

    {% if page.footer %}
        <footer class="jlabs-footer" role="contentinfo">
            {{ page.footer }}
        </footer>
    {% endif %}

</div>{# /.layout-container #}
