.region-social-share {
  display: inline-block;
  position: fixed;
  right: 15px;
  top: calc(50% - 110px);
  z-index: 200;
  right: 15px;

  .block-addtoany-block {
    box-sizing: border-box;
    background: #ededed;
    width: 50px;
    min-height: 50px;
    border-radius: 25px;
    text-align: center;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding-bottom: 7px;
    @include respond-to(xs-down) {
      padding-bottom: 0;
    }
    &.is-active {
    	padding-bottom: 7px;
    }
  }
  h2 {
    font-size: 10px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
    color: #999;
    @include respond-to(xs-down) {
      cursor: pointer;
    }
    &.is-active {}
  }
  &__item {}

  .addtoany_list {
    line-height: 20px;
    a {
      padding: 0;
      margin: 0 0 7px 0;
      display: block;
      display: inline-block;
      font-size: 16px;
      padding: 0 4px;
    }
    @include respond-to(xs-down) {
      display: none;
    }
  }
  .a2a_svg {
    width: 20px;
    height: 20px;
    background-size: 20px auto;
    svg {
      padding: 2px;
      path {
        transform: scale(0.85);
      }
    }
  }
  .a2a_label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
  }
}
