.contentblock_introduction{background-color:#D7C49F}.contentblock_introduction .contentblock__inner{margin-right:25%;background-color:white;padding-left:calc(25% + 40px);padding-right:40px;padding-top:60px;padding-bottom:100px}.contentblock__paragraph{line-height:1.8}.homepage-section{width:100%;margin:0 auto;background-color:white;padding:125px 40px}.homepage-section__miniature{text-align:center;display:block;font-size:470px;font-weight:700;line-height:0.8;color:#505050}.homepage-section__title{font-size:70px;text-align:center;margin:0 auto;display:block;max-width:300px}

/*# sourceMappingURL=jj_vision_home.css.map */