.contentblock {

	&_introduction {
		background-color: $page__middle-color;
	}
	&__inner {
		.contentblock_introduction & {
			margin-right: 25%;
			background-color: white;
			padding-left: calc(25% + 40px);
			padding-right: 40px;
			padding-top: 60px;
			padding-bottom: 100px;
		}
	}

	&__title {
	}

	&__paragraph {
		line-height: 1.8;
	}
}