.homepage-section {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	padding: 125px 40px;

	&__miniature {
		text-align: center;
		display: block;
		font-size: 470px;
		font-weight: 700;
		line-height: 0.8;
		color: $page__dark-color;
	}
	&__title {
		font-size: 70px;
		text-align: center;
		margin: 0 auto;
		display: block;
		max-width: 300px;
	}
}