.select {
	&_rounded {
	  -webkit-appearance: none;
	  min-height: 50px;
	  border-radius: 25px;
	  -webkit-border-radius: 25px;
	  -moz-border-radius: 25px;
	  padding: 4px 80px 0 24px;
	  text-decoration: none;
	  border: 3px $page__passive-color solid;
	  color: $type__base-color;
	  background: url(../../images/arrow-down.svg) no-repeat 90% 53% transparent;
	  &--narrow {
	  	min-height: 40px;
	  }
	}
}

input, textarea {
	border-radius: 25px;
	padding: 15px;
	border: 0;
	box-shadow: inset 3px 2px 5px rgba(0,0,0,0.2);
}

.button {
	background-color: $page__primary-color;
	box-shadow: none;
}