body {
  color: $type__base-color;
  font-family: 'Akzidenz', Arial, Helvetica, sans-serif;
  -webkit-font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.2;
}

p {
  margin: 0 0 25px 0;
  line-height: 1.6;
}

b, strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Akzidenz', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: $page__primary-color;
  margin: 0 0 25px 0;
}

h1 {
  font-size: 76px;
}
h2 {
  font-size: 35px;
  margin: 0;
}
h3 {
  font-size: 24px;
}


/* Regular */
@font-face {
    font-family: 'Akzidenz';
    src: url('../../fonts/Berthold Akzidenz Grotesk Regular.otf') format('opentype');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}
/* Light */
@font-face {
    font-family: 'Akzidenz';
    src: url('../../fonts/BertholdAkzidenzGroteskBELight Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
/* Medium */
@font-face {
    font-family: 'Akzidenz';
    src: url('../../fonts/Berthold Akzidenz Grotesk Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;

}
/* Bold */
@font-face {
    font-family: 'Akzidenz';
    src: url('../../fonts/Berthold Akzidenz Grotesk Bold_0.otf') format('opentype');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}
/* Italic */
@font-face {
    font-family: 'Akzidenz';
    src: url('../../fonts/Berthold Akzidenz Grotesk BE Italic.otf') format('opentype');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;
}