/*
 * Grid system with responsive behaviour
 * 
 * 
 *
 */

@import "../../shared/vars";

.grid {
  display: grid;

  &_two-col {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;

    @include respond-to(xs-down) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    &-small-gap {
      @extend .grid_two-col;
      grid-gap: 15px;
      @include respond-to(small-down) {
        grid-template-columns: 1fr;
      }
    }
  }

  &_three-col {

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    @include respond-to(medium-down) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to(tiny) {
      grid-template-columns: 1fr;
    }
    // Responsive style for content without sidebars (wider content space)
    &--wide {
      @include respond-to(medium-down) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include respond-to(xs-down) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &_four-col {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    @include respond-to(small-down) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to(xs-down) {
      grid-template-columns: 1fr;
    }
  }

  &_12-col {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    margin: 30px 0;
    @include respond-to(xs-down) {
      
    }
  }

  &_video {
    grid-auto-rows: minmax(280px, auto); // Page specific styles for blog landing page *shame*
  }

  &_nogap {
    grid-gap: 0;
  }


  &__item {
    &--wide {
      grid-column: span 2; // Wide grid items become narrow on smaller screens
      &.card--news {
        @include respond-to(medium-down) {
          grid-column: span 2;
        }
        @include respond-to(small-down) {
          grid-column: span 1;
        }
      }
      @include respond-to(medium-down) {
        grid-column: span 1;
      }
    }
    &--narrow {
      grid-column: span 1;
    }
    &--double {
      grid-column: span 2;
      grid-row: span 2;
      @include respond-to(small-down) {
        grid-column: span 1;
        grid-row: span 2;
      }
      @include respond-to(xs-down) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
    &--expanded {
      grid-column: span 3;
    }
  }

  &.grid_listview {
    grid-auto-rows: unset;
    grid-template-columns: auto;
    width: 100%;
    .grid__item {
      grid-column: span 3;
    }
    .photogallery {
      display: none;
    }
  }
}
